

@font-face {
    font-family: 'Brandon';
    src: url('../brandon_reg-webfont.eot');
    src: url('../brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../brandon_reg-webfont.woff') format('woff'),
         url('../brandon_reg-webfont.ttf') format('truetype'),
         url('../brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Marker";
  src: url("../cedric-marker.ttf") format("truetype");
}


@font-face {
  font-family: "Cubano";
  src: url("../cubano-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Symbols';
    src: url('../websymbolsligaregular-webfont.eot');
    src: url('../websymbolsligaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../websymbolsligaregular-webfont.woff') format('woff'),
         url('../websymbolsligaregular-webfont.ttf') format('truetype'),
         url('../websymbolsligaregular-webfont.svg#web_symbols_ligaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Governor";
  src: url("../governor.ttf") format("truetype");
}

@font-face {
    font-family: 'Altus-extras';
    src: url('../altus-extras-webfont.eot');
    src: url('../altus-extras-webfont.eot?#iefix') format('embedded-opentype'),
         url('../altus-extras-webfont.woff') format('woff'),
         url('../altus-extras-webfont.ttf') format('truetype'),
         url('../altus-extras-webfont.svg#altus_extrasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Altus';
    src: url('../altus-webfont.eot');
    src: url('../altus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../altus-webfont.woff') format('woff'),
         url('../altus-webfont.ttf') format('truetype'),
         url('../altus-webfont.svg#altusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Altus-serif';
    src: url('../altus-serif-webfont.eot');
    src: url('../altus-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../altus-serif-webfont.woff') format('woff'),
         url('../altus-serif-webfont.ttf') format('truetype'),
         url('../altus-serif-webfont.svg#altus_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: "HN-Roman";
  src: url("../HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "HN-Bold";
  src: url("../HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "HN-Light";
  src: url("../HelveticaNeueLTStd-Lt.otf") format("opentype");
}

@font-face {
  font-family: "HN-Med";
  src: url("../HelveticaNeueLTStd-Md.otf") format("opentype");
}


.clear{
	clear: both;
}

#strong{
	font-family: "Roboto", "HN-Bold";
	font-weight: 500;
}

input{
	-webkit-appearance: none;
}

em{
	font-weight: italic;
}

body{
	background-color: #ffffff; /* from #f9f9f9 */
}

/* ========================== Header ========================== */

title{
	font-family: "HN-Med", georgia, serif;
}

.nav-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #bdbdbd;
	line-height: 13px;
	display: none;
}

.header-cont{
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	width: 100%;
	background-color: rgba(255,255,255,.97);
	/*border-top: 5px solid #73c1af;*/
	border-bottom: 1px inset rgba(198,198,198,.4);
	z-index: 100;
}

.header{
	width: 960px;
	margin: 0px auto;
	padding: 10px 20px;
	position: relative;
}

.account-links{
	text-align: left;
	line-height: 55px;
	float: left;
}

header nav a{
	padding: 0 20px;
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
	font-family: "Brandon", "Montserrat", "Roboto Slab", "HN-Light", "Helvetica", sans-serif;
	text-decoration: none;
	/*text-transform: uppercase;*/
}

nav a:hover{
	color: #20995f;
}

.logo{
	float: left;
	width: 123px;
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 10px;
}

.logo-mobile{
	float: left;
	width: 100px;
	height: 22px;
	margin-top: -11px;
	margin-left: -10px;
	visibility: hidden;
	display: none;
}


/* ========================== Main ========================== */

/*.main{
	width: 960px;
	margin: 0px auto;
	overflow: visible;
	position: relative;/*
}

/* ===== Container BG img is covering the header. When time comes, change margin top to 90px========*/
.container{
	width: 100%;
	height: 100%;
	background: url(../images/ski_88.jpg) 
	top center no-repeat;
	position: fixed;
	z-index: 111;
}

.home-container{
	width: 100%;
	height: 400px;
	background: url(../images/ski_88.jpg) 
	top center no-repeat;
	margin-top: -71px;
	z-index: 111;
}


.landing-logo{
	width: 210px;
	height: 320px;
	background: url(../images/ag-landing.png)
	top center no-repeat;
	float: left;
}


.subscibe-container{
	background-color: #20995f;
	border-top: 1px solid rgba(198,198,198,.6);
	height: 100px;
	text-align: center;
	display: block;
	padding-top: 25px;
	margin-bottom: -80px;
	margin-top: 10px;
	width: 100%;
}


.press-color-blade{
	background-color: #f7f7f7;
	border-top: 1px solid rgba(198,198,198,.6);
	border-bottom: 1px solid rgba(198,198,198,.6);
	height: 100px;
	text-align: center;
	display: block;
	margin-bottom: 80px;
	margin-top: 0px;
	width: 100%;
}

.press-container{
	width: 960px;
	text-align: center;
	display: block;
	margin: auto;
}

.heading-container{
	width: 930px;
	text-align: left;
	display: block;
	margin: auto;
}

	.blade-heading{
		margin-top: 80px;
		font-size: 48px;
		font-family: "Altus", "Roboto Slab", "HN-Light", sans-serif;
		color: #666;
	}

	.blade-subhead{
		margin-top: 8px;
		margin-bottom: 5px;
		color: #666;
		font-size: 16px;
		font-family: "Roboto Slab", "HN-Light";
		font-weight: 300;
	}

	.heading-container .buy-stamp{
		
	}


.press-logo{
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
}


.kickstarter-blade{
	background-color: #fafafa;
	background-image: url("../images/claim-pattern-01.png");
	border-top: 1px solid rgba(198,198,198,.6);
	border-bottom: 1px solid rgba(198,198,198,.6);
	height: 460px;
	text-align: center;
	display: block;
	margin-bottom: 0px;
	margin-top: 80px;
	width: 100%;
}

	#claim-blade{
		height: 150px;
	}

.kick-container{
	width: 930px;
	text-align: center;
	display: block;
	position: relative;
	margin: auto;
}

		.kick-container #kickstarter-badge{
			position: absolute;
			top: -20px;
			right: 90px;
			height: 110px;
			width: 110px;
		}

	.kick-container iframe{
		margin-top: 55px;
		width: 618px;
		height: 348px;
	}


.recipes-color-blade{
	height: 460px;
	text-align: center;
	display: block;
	margin-bottom: 0px;
	margin-top: 30px;
	width: 100%;
}

.recipes-home-container{
	width: 960px;
	text-align: left;
	display: block;
	position: relative;
	padding-top: 40px;
	margin: auto;
}


.subscribe-list{
	text-align: center;
	display: inline-block;

}

.subscribe-heading{
	font-size: 14px;
	display: inline-block;
	margin-top: 53px;
	margin-left: auto;
	margin-right: 25px;
}

.subscribe-label{
	font-size: 18px;
	color: #fff;
	font-family: "Roboto Slab", "HN-Bold", sans-serif;
	margin-right: 30px;
}

/* ========================== Coming Soon Elmnts ========================== */


#mc_embed_signup{
	text-align: center;
	width: 930px;
	margin: 10px auto;
	position: relative;
	font-family: "HN-Med", sans-serif;
}


#mc_embed_signup h3{
	margin: 30px 0px 20px 35px;   
	text-align: left;
	display: inline-block;
	font-family: "Amatic SC", "Marker", "Governor", sans-serif;
	float: left;
	font-weight: 700;
	letter-spacing: 4px;
	word-spacing: 18px;
	color: #090909;
	font-size: 60px;
	text-transform: uppercase;
}

#mc_embed_signup h4{
	color: #090909;
	margin-left: 35px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	width: 275px;
	font-size: 16px;
	text-align: justify;
	line-height: 1.15em;
	font-family: "courier", "HN-Med", sans-serif;
	text-shadow: 1px 1px 2px #fff;
}


#mce-EMAILS{
	font-size: 24px;
	text-shadow: 1px 1px 2px #fff;
}



	#mce-EMAIL{ /*email*/
		text-align: left;
		margin: 0px auto 0px auto;
		padding: 9px 10px 9px 15px;
		width: 150px;
		border: 1px solid #fff;
		font-family: "Roboto", "HN-Light", sans-serif;
		font-size: 13px;
		font-weight: 300;
		color: #999;
		line-height: 14px;
		-webkit-border-radius: 2px 0px 0px 2px;
		-moz-border-radius: 2px 0px 0px 2px;
		border-radius: 2px 0px 0px 2px;
		}


#mc-embedded-subscribe.button{
	margin-left: 0px;
	margin-top: 7px;
	padding: 11px 10px 8px 14px;
	font-size: 13px;
	display: inline-block;
	color: white;
	cursor: hand;
	background-color: #20995f; 
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Brandon", "Roboto", "HN-Bold";
	border: 1px solid #fff;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}



/* ========================== Blog Landing ========================== */

.blog-container a{
	text-decoration: none;
}

.tag-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #999;
	padding-right: 7px; 
	padding-top: 15px;
	float: left;
	display: inline-block;
}

.cal-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #999;
	padding-right: 8px; 
	padding-top: 15px;
	float: right;
	display: inline-block;
}

.date-stamp{
	font-family: "Roboto", "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	float: right;
	padding-top: 15px;
	color: #999;
	font-weight: 500;
}

.tag-stamp{
	font-family: "Roboto", "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	float: left;
	padding-top: 15px;
	color: #999;
	font-weight: 500;
}

.blog-container{
	width: 962px;
	position: relative;
	margin: 91px auto 0px auto;
}

.heading{
	font-size: 45px;
	/*font-weight: 300;*/
	text-align: center;
	margin-top: 140px;
	margin-bottom: 15px;
	text-transform: none;
	font-family: "Altus", "HN-Light", sans-serif;
	color: #666;
}

	.heading-about{
	font-size: 45px;
	/*font-weight: 300;*/
	text-align: center;
	margin-top: 20px;
	margin-bottom: 65px;
	text-transform: none;
	font-family: "Altus", "HN-Light", sans-serif;
	color: #666;
	}


.blog-container h3{
	font-size: 14px;
	/*font-weight: 300;*/
	text-align: center;
	margin-bottom: 60px;
	font-family: "Roboto Slab", "Roboto", "HN-Light", sans-serif;
	color: #999;
	font-weight: 300;	
}

.post-wrapper{
	position: relative;
	width: 288px;
	height: 230px;
	float: left;
	margin: 16px 16px 44px 16px;
}


.post-cover{
	width: 288px;
	height: 160px;
	/*background: url(../images/place.jpg)*/
	top center no-repeat;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 3px 3px 0px 0px;
}
	.post-cover img{
		width: 288px;
		height: 160px;
	}


.post-label{
	padding: 15px;
	margin-bottom: 35px;
	background-color: #fff;
	color: #20995f;
	text-align: left;
	font-size: 14px;
	line-height: 1.25em;
	font-family: "Roboto Slab", "HN-Bold", sans-serif;
	width: 256px;
	position: absolute;
	top: 160px;
	left: 1px;
	box-shadow: 0px 0px 4px #aaa;
}


.pagination{
	text-align: center;
	margin: 30px auto 60px auto;
}

	.pagination li{
		display: inline-block;
		color: #666;
		border: 1px solid rgba(111,111,111,.45);
		border-radius: 1px;
		font-family: "Roboto Slab", "Altus", "HN-Light", sans-serif;
		padding: 5px 8px 5px 8px;
		font-size: 12px;
	}

	li.active{
		color: #20995f;
	}

	
/* ========================== Blog Posts ========================== */

.post-feature{
	max-width: 980px;
	height: 0px;
	padding: 0px 15px;
	margin: 30px auto;
	display: block;
	background-color: rgba(255,255,255,.95);
	overflow: visible;
	position: relative;
}

.body-image{
	/*margin: 20px 0px;*/
	width: 930px;
	background-color: rgba(255,255,255,.95);
	/*background: url(../images/post1-big.jpg)*/
	top center no-repeat;
}
	.body-image img{
		width: 930px;
	}


.post-feat{
	margin-top: 65px; /* from 110px */
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 50%;
	background-color: rgba(255,255,255,.95);

}
		.post-feat img{
			position: absolute;
			top: center no-repeat;
			height: 100%;
			width: 100%; /* from 890px*/
		}

.post-label-big{
	padding: 20px 0px;
	color: #20995f;
	border-radius: 0px;
	font-size: 14px;
	font-family: "Roboto", "HN-Bold", sans-serif;
	max-width: 930px;
	float: left;
	background-color: rgba(255,255,255,.9);
	margin-top: -150px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.4em;
}

.post-label-big p{
	margin: 15px 0px 15px 0px;
	font-family: "Roboto", "HN-Light", sans-serif;
	color: #999;
	font-weight: 300;
	line-height: 1.5em;
}

.post-label-big h5{
	color: #20995f;
	display: inline-block;
	width: 700px;
	float: left;
	font-size: 36px;
	font-family: "Roboto Slab", "HN-Light", sans-serif;
	font-weight: 700;
	line-height: 1.25em;
	letter-spacing: -1px;
	margin: 0px 100px 20px 0px;
}

.cal-icon-big{
	font-family: "Symbols";
	font-size: 14px;
	line-height: 20px;
	color: #999;
	padding-right: 15px; 
	display: inline-block;
	float: right;
}

.date-stamp-big{
	font-family: "Roboto", "HN-Light", sans-serif;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	float: right;
	color: #999;
}

.post-list-title{
	color: #555;
	list-style: disc;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 35px;
}

.post-list-heading{
	color: #555;
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.post-list-directions{
	color: #555;
	font-size: 14px;
	font-family: "Roboto", "HN-Light";
	margin-left: 20px;
	list-style: lower-roman;
}

.order-test-list{
	margin-bottom: 40px;
}


.blog-post-list li{
	color: #555;
	font-weight: 300;
	list-style: decimal;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.topline-summary{
	margin-top: 50px;
}

#taste-test{
	margin-top: 20px;
}

/* ========================== Recipies ========================== */

.recipie-heading{
	color: #666;
	font-size: 18px;
	margin-bottom: 20px;
	font-family: "Roboto Slab", "HN-Bold", sans-serif;
	font-weight: 700;
}

.cook-heading{
	color: #666;
	font-size: 18px;
	margin-bottom: 15px;
}
	.last-item{
		margin-bottom: 25px;
	}

	.cook-info li{
		font-family: "Roboto", "HN-Bold";
		font-weight: 300;
	}

.ingredients{
	float: left;
	display: block;
	width: 250px;
	margin: 15px 65px 15px 0px;
}
	.ingredients li{
		color: #999;
		font-size: 14px;
		font-family: "Roboto", "HN-Light", sans-serif;
		font-weight: 300;
		padding: 4px 0px;
		line-height: 1.15em;
	}

	.ingredients i{
		font-family: "Symbols";
		margin-right: 5px;
	}

.directions-cont{
	float: left;
	width: 600px;
	margin: 15px 0px 15px 15px;
}

	.directions-cont li{
		color: #666;
		list-style: decimal;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
	}

/* ========================== Products ========================== */


.page-hero{
	margin-top: 65px; /* from 110px */
	background: url("../images/hero-test.jpg") top center no-repeat;
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 500px; /* from 470px */
	background-color: none;
}


		#desk-hero{
			position: absolute;
			top: center no-repeat;
			max-height: 500px;
			min-height: 500px;
			width: 100%;
			overflow: hidden;
			/* width: 100%; /* from 890px*/
		}


		.hero-caption{
			position: relative;
			text-align: center;
			width: 930px;
			padding-top: 150px;
			margin: 0px auto;
			/*background-color: red;*/
		}


			#flourish1{
				font-family: "Altus-extras", "Altus", "HN-Med";
				font-size: 50%;
				margin-left: 75px;
			}

				#flourish{
				font-family: "Altus-extras", "Altus", "HN-Med";
				font-size: 50%;
			}

			#for{
				font-family: "Baskerville", "Georgia", "Altus-serif", "Altus", "HN-Med";
				text-transform: lowercase;
				font-style: italic;
				font-weight: 300;
				font-size: 50%;
				line-height: 2.5em;
			}

		.hero-heading{
			font-size: 66px;
			color: #fff;
			line-height: .5em;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-family: "Amatic SC", "Just Another Hand", "Altus", "HN-Med", sans-serif;
			text-align: left;
		}

		.hero-button{
		float: left;
		margin-top: 20px;
		padding: 12px 18px 12px 18px;
		font-size: 12px;
		/*background-color: #73c1af;*/
		color: white;
		text-transform: uppercase;
		font-family: "Brandon", "Roboto", "HN-Light";
		letter-spacing: 2px;
		background-color: #20995f; 
		border-radius: 3px;
		/* background-color: rgba(0, 0, 0, 0.5);*/
		}


		#mobile-hero{
			display: none;
		}

		#tablet-hero{
			display: none;
		}

.product-wrapper{
	position: relative;
	width: 288px;
	/*height: 484px;*/
	float: left;
	margin: 16px 16px 16px 16px;
}

	.product-wrapper a{
		color: #20995f;
		text-decoration: none;
	}

.product-cover{
	width: 288px;
	top center no-repeat;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 3px 3px 0px 0px;
}
	.product-cover img{
		width: 288px;
		/*height: 424px;*/
	}


.product-label{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	color: #20995f;
	font-size: 14px;
	line-height: 1.25em;
	text-align: center;
	font-family: "Roboto", "HN-Bold", sans-serif;
	width: 256px;
	float: left;
	font-weight: 700;
	/*position: absolute;
	top: 424px;*/
	left: 1px;
	/*box-shadow: 0px 0px 2px #aaa; */
}


.price-stamp{
	font-family: "Roboto", "HN-Med", sans-serif;
	font-size: 16px;
	font-style: italic;
	display: inline-block;
	text-align: center;
	margin-top: 7px;
	margin-right: 5px;
	font-weight: 700;
	color: #999;
}

.buy-stamp{
	font-family: "Brandon", "Roboto", "Cubano", "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-left: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 3px;
	background-color: #20995f;
	margin-top: 5px;
	padding: 6px 10px 5px 10px;
	color: #fff;
}

/* ========================== PDP ========================== */


.product-name{
	color: #20995f;
	display: block;
	font-family: "Altus", "Amatic SC", "HN-Med", sans-serif;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -1px;
	margin: 0px 0px 20px 0px;
}

.price-amt{
	float: left;
	font-size: 20px;
	color: #20995f;
	font-family: "HN-Bold", sans-serif;
	margin-left: 0px;
}

.price-qty{
	float: right;
	font-size: 28px;
	color: #20995f;
	font-family: "HN-Bold", sans-serif;
	margin-right: 0px;
}

.product-hero-image{
	width: 95%;
	height: 0px;
	display: block;
	position: relative;
}

		.product-hero-image img{
			position: absolute;
			top: center no-repeat;
			width: 100%;
		}

		.product-hero-image #kickstarter-badge{
			position: absolute;
			top: -10px;
			right: 0px;
			height: 110px;
			width: 110px;
		}

.whats-inside{
	 display: none; 
}

#contains{
	margin-bottom: -5px;
	font-family: "HN-Med", sans-serif;
	color: #666;
	font-size: 12px;
}

#contact form #pdp-qty{
	width: 35%;
	margin-right: 5%;
	float: left;
	color: #666;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto", "Brandon", "Cubano", "HN-Light", sans-serif;
	position: relative;
	text-align: center;
}


#contact form #pdp-buy{
	background-color: #20995f;
	width: 60%;
	float: left;
	font-family: "Roboto", "Brandon", "Cubano", "HN-Light", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid #20995f;
	color: #fff;
	text-align: center;
}

/*
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:20%;
    color: #fff;
    background-color: #bbb;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    position:absolute;
    text-align: center;
    right: 35%;
    font-family:"HN-Bold", sans-serif;
    line-height: 14px;
}

input[type=number]::-webkit-inner-spin-button:before {
    content: "+";
    top:3px;
}

input[type=number]::-webkit-inner-spin-button:after {
    content: "-";
    bottom:2px;
 
}
*/

					/* ==== Nutrition Table ====== */

#facts-container{
	padding: 0px 15px;
	float: right;
	margin-top: 0px;
}

.calories{
	font-size: 14px;
	text-align: left;
	border-bottom: 5px solid #bbb;
	margin-bottom: 3px;
	width: 47.5%;
	margin-right: 5%;
	float: left;
}

#calories2{
	font-size: 14px;
	text-align: left;
	border-bottom: 5px solid #bbb;
	margin-bottom: 3px;
	width: 47.5%;
	color: #fff;
	float: left;
}

#white{
	color: #fff;
}

.amount{
	text-align: left;
	font-size: 10px;
	font-family: "HN-Med", sans-serif;
	color: #999; /* from #666 */
}

.value{
	text-align: right;
	font-size: 10px;
	margin-top: 3px;
	font-family: "HN-Med", sans-serif;
	color: #999; /* from #666 */
}


#nutrition td{
	font-size: 11px;
	font-family: "HN-Light", sans-serif;
	color: #999; /* from #666 */
	border-bottom: 1px solid #bbb;
	padding: 5px 0px 3px 0px;
}

#nutrition{
	border-bottom: none;
	margin-top: 25px;
}


hr{
	border: none;
}

#note{
	margin-top: 20px;
	color: #999;
	font-size: 10px;
	line-height: 1.1em;
	font-family: "HN-Med", sans-serif;
}

.blank th{
	border-bottom: 1px solid #bbb;
}


td strong{
	font-family: "HN-Bold", sans-serif;
}

.facts-header{        /* ======= Just the top color block ========= */
	display: block;
	width: 100%;
	height: 10px;
	background-color: #bbb;
	margin-bottom: 3px;
}


.elements{
	float: left;
	font-size: 11px;
	width: 47.5%;
}

.elements2{
	float: right;
	border-bottom: 5px solid #bbb;
	font-size: 11px;
	width: 47.5%;
	margin-left: 5%;
}

.vitamins{
	float: right;
	font-size: 11px;
	width: 47.5%;
	margin-left: 5%;
}

.nutrition-facts{
	padding: 8px 9px 4px 9px;
	font-size: 12px;
	line-height: 1em;
	text-transform: uppercase;
	font-family: "HN-Med", sans-serif;
	color: #fff;
	background-color: #bbb;
}


#serving-size{
	font-family: "HN-Bold", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 20px;
	color: #999;
}

#servings-per{
	font-family: "HN-Light", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 3px;
	margin-top: 3px;
	color: #999;
}


.featured-recipes{
	width: 930px;
	margin: 80px auto 0px auto;
	border-top: 1px solid #dfdfdf;
	padding-top: 30px;
}

.featured-recipes #reco-to-try{
	font-family: "Roboto Slab", "HN-Bold", sans-serif;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 30px;
	color: #999;
}

.recipe-placeholder{
	margin: 0px 26px;
	width: 192px;
	font-family: "Roboto Slab";
	border: 1px solid #dfdfdf;
	background-color: #fff;
	float: left;
}


	.recipe-placeholder-first{
		margin-right: 25px;
		width: 192px;
		font-family: "Roboto Slab";
		border: 1px solid #dfdfdf;
		background-color: #fff;
		float: left;
	}
			.recipe-placeholder-first img, .recipe-placeholder img, .recipe-placeholder-last img{
				width: 100%;
			}

	.recipe-placeholder-last{
		margin-left: 25px;
		width: 192px;
		font-family: "Roboto Slab";
		border: 1px solid #dfdfdf;
		background-color: #fff;
		float: left;
	}

.featured-recipes h5{
	color: #20995f;
	padding: 15px 10px;
	font-family: "Roboto Slab", "HN-Bold", sans-serif;
	font-size: 12px;
}


/* ========================== About ========================== */

#about{
	/*border-top: 1px dashed #999;*/
	padding-top: 0px;
	padding-bottom: 80px;
}

	.about-img{
		margin-top: 5px;
		margin-right: 30px;
		width: 50%;
		float: left;
	}
		.about-img img{
			width: 100%;
		}

.intro-description{
	margin-bottom: 70px;
}

.use-flour-cover{
	width: 288px;
	height: 314px;
	float: left;
	margin-bottom: 50px;
}

.use-flour-cover img{
	width: 230px;
	height: 314px;
	margin-left: 0px;
}

.usage-copy{
	margin-top: 5px;
	width: 100%;
	font-family: "Roboto", "HN-Light", sans-serif;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	color: #999;
	letter-spacing: none;
	word-spacing: none;
	line-height: 1.5em;
}

#flour-intro{
	margin-bottom: 80px;
	color: #999;
}


.usage-table{
	float: left;
	color: #999;
	margin-top: 5px;
	width: 670px;
	font-family: "Roboto", "HN-Light", sans-serif;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	border: 1px solid #999;
}

		.usage-table td{
			border: 1px solid #999;
			padding: 5px 10px;
			vertical-align: middle;
		}

			.usage-table td.first{
				font-family: "Roboto Slab";
				font-weight: 500;
			}


/* ========================== Footer ========================== */


.footer-cont{
	width: 100%;
	height: 0px;
	background-color: rgba(255,255,255,1);
	/*border-bottom: 5px solid #73c1af;*/
	border-top: 1px solid rgba(198,198,198,.6);
	margin-top: 80px;
	float: left;

}


.footer{
	height: 40px;
	width: 960px;
	margin: 0px auto;
	padding: 23px 20px;
	margin-top: 20px;
}

.copyright{
	text-decoration: none;
	font-family: "Roboto", "HN-Light", sans-serif;
	font-size: 12px;
	color: #999;
	float: left;
	line-height: 16px;
	padding: 0px 15px;
	font-weight: 300;
}

footer nav.account-links-foot{
	float: left;
	margin-right: 15px;
}

.nav-icon-foot{
	font-size: 12px;
	font-family: "Symbols";
	color: #999;
	line-height: 12px;
	padding: 0px 2px;
}

footer nav a.left{
	padding: 0 15px;
	font-size: 12px;
	color: #999;
	font-family: "Roboto", "HN-Med", helvetica, sans-serif;
	text-decoration: none;
	font-weight: 500;
}

footer nav.social-links-foot{
	float: right;
	font-size: 12px;
	text-decoration: none;
	padding-right: 15px;
}

.social-links-foot a{
	padding: 0 4px;
	font-size: 14px;
	color: #999;
	font-family: "Symbols";
	text-decoration: none;
}

/* ========================== Contact ========================== */


.contact{
	width: 960px;
	margin: 140px auto 50px auto;
}


.half-container{
	width: 450px;
	min-height: 60px;
	padding: 0px 15px;
	float: left;
}

#contact-margin{
	font-size: 48px;
	/*font-weight: 300;*/
	text-align: center;
	margin-top: 140px;
	margin-bottom: 15px;
	font-family: "Altus", "HN-Light", sans-serif;
	color: #666;
}

 #sub-heading{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 70px;
	font-family: "Roboto", "HN-Light", sans-serif;
	color: #999;	
}

#contact h4{
	font-size: 22px;
	text-align: left;
	margin-bottom: 20px;
	margin-left: 15px;
	font-family: "Roboto Slab", "HN-Med", sans-serif;
	color: #666;	
}

#contact p{
	font-size: 14px;
	width: 90%;
	text-align: left;
	margin-bottom: 20px;
	line-height: 1.5em;
	font-family: "Roboto", "HN-Light", sans-serif;
	color: #999;
}

#contact i{
	font-family: "Symbols";
	font-size: 14px;
	color: #666;
	padding-right: 15px;
}

#contact li{
	font-family: "Roboto", "HN-Light";
	font-size: 14px;
	font-weight: 300;
	color: #999;
	line-height: 1.25em;
}


.address{
	margin-left: 29px;
	font-family: "Roboto", "HN-Light", sans-serif;
	line-height: 1.1em;
}


#address-1{
	margin-top: 15px;
}


#contact input{
	margin: 0px 0px 20px 0px;
	display: block;
	text-align: left;
	padding: 10px 10px;
	font-family: "Roboto";
	font-weight: 300;
	border: 1px solid rgba(198,198,198,1);
	font-size: 14px;
	box-shadow: none;
	border-radius: 2px;
	width: 450px;
}

#contact textarea{
	margin-bottom: 20px;
	padding: 10px 10px;
	border: 1px solid rgba(198,198,198,1);
	width: 450px;
	border-radius: 2`px;
	min-height: 80px;
}

form label{
	text-align: left;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: "Roboto Slab", "HN-Med", sans-serif;
	color: #666;
}

#entry_161419473{
	display: inline-block;
	float: left;
	width: 150px;
}

.inline-link{
	text-decoration: underline;
	color: #20995f;
}

#ss-submit{
	width: 290px;
	display: inline-block;
	float: right;
	background: #20995f url('../images/paper-plane-icon.svg') no-repeat center center;
	margin-left: 5px;
	cursor: hand;
	color: white;
	border: none;
	text-align: center;
	padding: 11px 10px;
}


#contact #ss-submit{
	border: none;
}

#ss-submit:hover{
	background-color: #006738;
	/*border: 1px solid #abebd8; */
}

#human-label{
	display: block;
	width: 450px;
}

/* =================== Terms ======================== */

.terms-container{
	position: relative;
	width: 100%;
	margin: 15px auto;
	color: #999;
	line-height: 1.25em;
	padding: 0px 10px;
}

.terms-container p, .terms-container li{
	font-family: "Roboto", "HN-Light", sans-serif;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	color: #999;
}

.terms-container ol li{
	list-style: decimal;
	list-style-position: outside;
	
}

.terms-container ul li{
	list-style: disc;
	list-style-position: inside;
}


#last-list-item{
	margin-bottom: 30px;
}

/* =================== @ Media Tablet ======================== */


@media screen and (max-width: 1000px) {
  .blog-container{
    width: 660px;
}

	.blog-container h3{
		line-height: 1.25em;
	}

		.hero-caption{
			width: 630px;
		}

		.hero-heading{
			font-size: 66px;
		}

.footer{
	width: 660px;
	padding-right: 20px;
}

/* .nav-icon-foot{
	display: none;
} */

footer nav.account-links-foot{
	margin-right: 0px;
}

footer nav a.left{
	padding: 0px 10px;
}

footer nav.social-links-foot{
	padding-right: 0px;
}

.social-links-foot a{
	float: left;
}
	
.header{
	width: 660px;
}

.contact{
	width: 660px;
}

.half-container{
	width: 300px;
}

#contact input, #contact textarea{
	width: 300px;
}

#ss-submit{
	width: 145px;
}


#entry_161419473{
	float: left;
	width: 145px;
}

/* ==== Blog Detail ======*/


.post-feat{
	height: 0px;
	float: none;
	background-color: none;
	overflow: visible;
	position: relative;
}

	.post-feat img{
		position: absolute;
		top: center no-repeat;
	}

.page-hero{
	position: relative;
	background: none;
	padding-bottom: 470px; /* from 25%*/
	background-color: none;


}
		.page-hero img{
			position: absolute;
			top: center no-repeat;
			max-height: 500px;
			/* width: 100%; /* from 890px*/
		}


		#mobile-hero{
			display: none;
		}




.body-image{
	height: 0px;
	width: 100%;
	position: relative;
	padding-bottom: 52%;
}
	.body-image img{
		position: absolute;
		top: center no-repeat;
		max-width: 100%;
	}

.post-cover-feat{
	display: none;
}

.post-feature{
	max-width: 680px;
	padding-top: 20px;
	margin: none;
	height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0px auto;
}

.post-label-big{
	position: static;
	max-width: 680px;
	background-color: #fff;
	margin-top: 0px;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 0px; /*from 25 */
	padding-right: 0px; /*from 25 */
	/*padding-top: 380px;*/
	line-height: 1.4em;
	display: block;
}

		.post-label-big h5{
			width: 450px;
			font-size: 24;
		}	

/* ======= Recipies ======= */


.directions-cont{
	margin-left: 0px;
}


	.directions-cont li{
		list-style-position: inside;
	}



/* ========================== PDP ========================== */


.product-name{
	display: block;
	font-size: 36px;
	letter-spacing: -1px;
	margin: 0px 0px 20px 0px;
}

#contact form #pdp-qty{
	font-size: 12px;
}

#contact form #pdp-buy{
	font-size: 12px;
}


					/* ==== Nutrition Table ====== */

#facts-container{
	width: 630px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;  /* ==== from 100px when what's inside is displayed ====== */
}


.calories{
	font-size: 14px;
	text-align: left;
	margin-bottom: 3px;
	width: 100%;
}

#calories2{
display: none;
}

#white{
	color: #fff;
}

.amount{
	text-align: left;
	font-size: 10px;
	font-family: "HN-Med", sans-serif;
}

.value{
	text-align: right;
	font-size: 10px;
	margin-top: 3px;
	font-family: "HN-Med", sans-serif;
}

#value{
	text-align: right;
	display: inline-block;
}

#nutrition td{
	font-size: 10px;
	font-family: "HN-Light", sans-serif;
	border-bottom: 1px solid #bbb;
	padding: 5px 0px 3px 0px;
}

#nutrition{
	border-bottom: none;
}


hr{
	border: none;
}

#note{
	margin-top: 15px;
	color: #999;
	font-size: 9px;
	line-height: 1.2em;
	font-family: "HN-Med", sans-serif;
}

.blank th{
	border-bottom: 1px solid #666;
}


td strong{
	font-size: 10px;
}


.elements{
	font-size: 11px;
	width: 100%;
}

.elements2{
	float: left;
	width: 100%;
	margin-left: 0%;
}

.vitamins{
	float: left;
	width: 100%;
	font-size: 9px;
	margin-left: 0%;
}

#label-hide-mobile{
	display: none;
}

.featured-recipes{
	width: 630px;
	margin-left: auto;
	margin-right: auto;
}

h3 .suggested{
	font-family: "HN-Bold", sans-serif;
	text-align: left;
	font-size: 12px;
	color: #999;
}

.recipe-placeholder{
	margin: 0px 12px;
}


	.recipe-placeholder-first{
		margin-right: 12px;
	}

	.recipe-placeholder-last{
		margin-left: 12px;
	}

#tablet-hide{
	display: none;
}


#tablet-hero{
	display: block;
	position: absolute;
	top: center no-repeat;
	width: 100%;
	max-height: none;
}

.page-hero{
	margin-top: 65px; /* from 110px */
	background: url("../images/hero-test-tablet.jpg") top center no-repeat;
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 500px; /* from 470px */
	background-color: none;
}


#desk-hero{
	display: none;
}



/* ================= Homepage Blades ============ */


.kick-container{
	width: 660px;
}

		.kick-container #kickstarter-badge{
			top: -20px;
			right: 0px;
		}

.recipes-home-container{
	width: 660px;
}

		#tile-tablet-hide{
			display: none;
		}


.heading-container{
	width: 630px;
}

.press-container{
	width: 660px;
}

.subscribe-container{
	width: 660px;
}

		#mc-embedded-subscribe-form{
			width: 660px;
			margin-left: auto;
			margin-right: auto;
		}

		#mc_embed_signup{
			width: 660px;
		}


.usage-table{
	width: 372px;
	font-size: 14px;
	margin-bottom: 75px;
}


/* ===================== @ Media Mobile ====================== */


@media screen and (max-width: 700px) {
  .blog-container{
    width: 308px;
    padding: 0px 0px;
    margin: 0px auto 0px auto;
}

		.hero-caption{
			width: 288px;
			padding-top: 75px;
		}

		.hero-heading{
			font-size: 28px; /* ==== from 36pt ==== */
			text-align: center;
			margin-top: -45px; /* ==== from 0 ==== */

		}

		.hero-button{
		float: none;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		width: 125px;
		font-size: 12px;
		margin-top: 0px;
		padding: 5px 10px 5px 10px;
		}

ul{
	font-size: 12px;
}

.blog-container h2 h3 {
		line-height: 1.25em;
		margin: 0px auto;
		width: 288px;
		padding: 0px;
	}

.blog-container h3{
	margin-bottom: 35px
}

.heading{
	margin-top: 80px;
	font-size: 32px;
}

	.heading-about{
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 45px;
}

.post-wrapper{
	float: both;
	width: 288px;
	margin-bottom: 44px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto; 
}


	.product-wrapper{
	width: 190px;
	position: relative;
	float: none;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto; 
	}

	.product-cover{
	width: 190px;
	margin: 0px auto;
	}
		
		.product-cover img{
		width: 190px;
		margin: 0px auto;
		/*height: 424px;*/
		}

		.product-label{
		padding: 15px;
		margin: 0px auto 30px auto;
		width: 160px;
		/*position: absolute;
		top: 424px;*/
		left: 1px;
		/*box-shadow: 0px 0px 2px #aaa; */
		}

.footer{
	width: 288px;
	padding: 0px 10px;
	text-align: center;
}

 .nav-icon-foot{
	display: none;
} 

footer nav.account-links-foot{
	float: none;
	margin: none;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}


footer nav a.left{
	padding: 0px 10px;
	text-align: center;
}

	
.header{
	width: 308px;
	height: 0px;
	padding: 10px 10px;
	margin: 0 auto;

}

.header-cont{
	position: fixed;
	padding: none;
	margin: 0px auto;
	background-color: #20995f;
	border-color: #20995f; 
}

.nav-icon{
	display: none;
}


.account-links{
	text-align: center;
	line-height: 1.25em;
	float: left;
	
}

header nav a{
	padding: 0 3px;
	font-size: 11px;
	color: #fff;
}

header nav a:hover{
	color: #fff;
	text-decoration: underline;
}

.footer-cont{
	margin-top: 30px;
	padding-bottom: 25px;
}

.copyright{
	text-align: center;
	float: none;
	margin: 10px auto;
}

.footer{
	margin-top: none;
	text-align: center;
	float: none;
	height: 0px;
	padding-bottom: 35px;
	padding-top: 5px;
}

footer nav.social-links-foot{
	padding: none;
	margin: none;
	float: none;
	padding-top: 10px;
	text-align: center;
	margin: 0px auto;
}

.social-links-foot a{
	float: none;
	margin-right: none;
	margin-left: none;
	padding-left: none;
	padding-right: none;
	margin-left: auto;
	margin-right: auto;
}

footer nav.social-links-foot{
	padding-right: none;
	padding-left: 0px;
	padding-bottom: 15px;
}

.logo-mobile{
	visibility: visible;
	display: block;
	margin-right: 0px;
	padding: 10px 9px;
	float: left;
}

.logo{
	display: none;
}

#mobile-hide{
	display: none;
}


#contact{
	margin: 0px auto;
}

.half-container{
	width: 288;
	height: none;
	margin-right: none;
	border: none; 
	float: none;
	margin: 0px auto;
	padding-right: none;
	padding-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact-form{
	width: none;
	height: none;
	margin-right: none;
	margin-left: none;
	border: none; 
	float: none;
	margin: 0px auto;
	padding-right: none;
	padding-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul li{
	width: none;
	margin: none;
	float: none;
	padding: none;
	margin: 0px auto;
	display: block;
}


#contact input, #contact textarea{
	width: 283px;
	float: left;
	padding: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

label{
	display: inline-block;
	width: 283px;
}

#contact h2 h3 h4{
	margin: none;
	margin: 0px auto;
	padding: none;
	text-align: center;
	width: 288px;

}

#contact-margin{
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 32px;
}

#contact p{
	width: 288px;
	padding: none;
	margin: none;
}

#ss-submit{
	width: 139px;
	float: left;

}


#entry_161419473{
	float: left;
	width: 139px;
	padding-right: none;
}

#human-label{
	width: 258px;
}

/* ==== Blog Detail ======*/


.post-feat{
	margin-top: 40px;
	height: 0px;
	float: none;
	background-color: none;
	overflow: visible;
	position: relative;
}

	.post-feat img{
		position: absolute;
		top: center no-repeat;
	}


.page-hero{
	margin-top: 40px;
	overflow: visible;
	position: relative;
	background: none;
	padding-bottom: 300px; /* from 40% */
	width: 100%;
	height: 0px;
	display: block;
	margin-right: 0px;
	padding-right: 0px;
	background-color: none;

}
	.page-hero img{
			display: none;
		/*	position: absolute;
			top: center no-repeat;
			max-height: 500px; 
			margin-right: 0px;
			padding-right: 0px;
			width: 100%;  from 100% */ 
		}


	.hero-caption a{
			text-decoration: none;
		}

#mobile-hero{
	display: block;
	position: absolute;
	top: center no-repeat;
	width: 100%;
	max-height: none;
}

.page-hero{
	margin-top: 42px; /* from 110px */
	background: url("../images/hero-test-mobile.jpg") top center no-repeat;
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 275px; /* from 470px */
	background-color: none;
}


#desk-hero{
	display: none;
	width: 0px;
}


.post-cover-feat{
	display: none;
}

.post-feature{
	max-width: 480px;
	min-width: 278px;
	padding-top: 15px;
	margin: none;
	height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0px auto;
}

.post-label-big{
	position: static;
	max-width: 480px;
	min-width: 278px;
	background-color: #fff;
	margin-top: 0px;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 0px; /*from 10 */
	padding-right: 0px;
	/*padding-top: 380px;*/
	line-height: 1.4em;
	display: block;
}

		.post-label-big h5{
			max-width: 200px;
			min-width: 80px;
			font-size: 14px;
			margin-right: 3px;
		}	

		.post-label-big p{
			margin: none;
			font-size: 13px;
			letter-spacing: 0px;
		}

.cal-icon-big{
	font-size: 10px;
	line-height: 10px;
	padding-right: 7px;
	margin-left: 0px; 
}

.date-stamp-big{
	font-size: 10px;
	line-height: 10px;
	margin-left: 0px;
}

/* ========================== Recipies ========================== */

.recipie-heading{
	font-size: 13px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 288px;
}

.cook-heading{
	font-size: 13px;
	margin-bottom: 5px;
	width: 288px;
}
	.last-item{
		margin-bottom: 15px;
	}

	.cook-info ul {
		font-family: "HN-Bold";
		width: 288px;
		margin: none;
	}

	.cook-info li{
		display: inline;
		font-family: "HN-Bold";
		width: 288px;
		width: 0px;
		margin: none;
		padding: 2px;
	}

.ingredients{
	float: left;
	display: block;
	max-width: 288px;
	min-width: 100px;
	margin: 10px 0px 10px 0px;
}
	.ingredients li{
		font-size: 12px;
		font-family: "Roboto", "HN-Light", sans-serif;
		padding: 4px 1px;
		line-height: 1.15em;
		margin: none;
	}

	.ingredients i{
		font-family: "Symbols";
		margin-right: 5px;
	}

.directions-cont{
	float: left;
	width: 0px;
	margin: none;
	width: 0px;
	max-width: 480px;
	min-width: 288px
}

	.directions-cont li{
		max-width: 278px;
		min-width: 278px;
		list-style-position: inside;
	}


.post-list-title{
	font-size: 14px;
}

.post-list-heading, .post-list-directions{
	font-size: 12px;
}


/* =================== PDP ======================== */


.product-hero-image{
	margin: -35px auto 0px auto;
	width: 85%;
}

#pdp-content{
	margin-top: 240px;
}

#facts-container{
	width: 288px;
	margin-top: 30px;
}

.featured-recipes{
	display: none;
}


/* =================== Terms ======================== */


.terms-container{
	width: 288px;
}

/* =================== Homepage Blades ======================== */

.kick-container{
	width: 288px;
	padding: none;
}

		.kick-container iframe{
			width: 260px;
			height: 146px;
			margin-top: 50px;
			padding: none;
		}

		.kick-container #kickstarter-badge{
			height: 80px;
			width: 80px;
			top: -15px;
		}

.kickstarter-blade{
	background-image: url("../images/claim-pattern-02.png");
	height: 244px;
	margin-bottom: 80px;
	margin-top: 30px;
	padding: none;
}


.heading-container{
	width: 288px;
	text-align: center;
	padding: none;
	margin-right: auto;
	margin-left: auto;
}

	.blade-heading{
		margin-top: 30px;
		font-size: 33px;
	}


.recipes-home-container{
	width: 288px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}

.recipes-color-blade{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
}



		#tile-mobile-hide{
			display: none;
		}


.subscibe-container{
	height: 112px;
	margin-bottom: -30px;
	margin-top: -100px;
	padding-top: 0px;
	padding-bottom: 0px;
}

		#mc_embed_signup, #mc-embedded-subscribe-form{
			width: 288px;
			padding: 0px;
		}

			.subscribe-label{
			font-size: 14px;
			margin-top: 10px;
			width: 288px;
			display: inline-block;
			text-align: center;
			margin-right: 0px;
			margin-left: none;
			padding: none;
			}



#flourish1{
	margin-left: 0px;
			}


#top-tile{
	margin-top: 50px;
}

#top-tile-2{
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}


.pagination{
	margin-bottom: 160px;
}


	.about-img{
		margin-top: 5px;
		margin-right: 0px;
		margin-bottom: 25px;
		width: 100%;
	}


.use-flour-cover{
	width: 288px;
	height: 260px;
	float: left;
	margin-bottom: 25px;
}

.use-flour-cover img{
	width: 190px;
	height: 260px;
	margin-left: 49px;
}

.terms-container p.usage-copy{
	margin-top: 5px;
	margin-bottom: 75px;
}


.usage-table{
	width: 288px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	margin-top: -60px;
	margin-bottom: 75px;
}



@viewport {
  width: device-width;
  zoom: 1;
}
