@font-face {
  font-family: "Brandon";
  src: url("../Brandon_reg.otf") format("opentype");
}

@font-face {
  font-family: "Marker";
  src: url("../cedric-marker.ttf") format("truetype");
}

@font-face {
  font-family: "Governor";
  src: url("../governor.ttf") format("truetype");
}

@font-face {
  font-family: "Symbols";
  src: url("../WebSymbolsLiga-Regular.otf") format("opentype");
}

}
@font-face {
  font-family: "HN-Roman";
  src: url("../HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "HN-Bold";
  src: url("../HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "HN-Light";
  src: url("../HelveticaNeueLTStd-Lt.otf") format("opentype");
}

@font-face {
  font-family: "HN-Med";
  src: url("../HelveticaNeueLTStd-Md.otf") format("opentype");
}

.clear{
	clear: both;
}

#strong{
	font-family: "HN-Bold";
}

input{
	-webkit-appearance: none;
}

em{
	font-weight: italic;
}

body{
	background-color: #ffffff; /* from #f9f9f9 */
}

/* ========================== Header ========================== */

title{
	font-family: "HN-Med", georgia, serif;
}

.nav-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #bdbdbd;
	line-height: 14px;
	display: inline-block;
}

.header-cont{
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	width: 100%;
	background-color: rgba(255,255,255,.97);
	/*border-top: 5px solid #73c1af;*/
	border-bottom: 1px inset rgba(198,198,198,.4);
	z-index: 100;
}

.header{
	height: 36px;
	width: 960px;
	margin: 0px auto;
	padding: 21px 20px;
	position: relative;
}

.account-links{
	text-align: left;
	line-height: 55px;
	float: left;
}

header nav a{
	padding: 0 15px;
	font-size: 14px;
	color: #777;
	font-family: "HN-Med", helvetica, sans-serif;
	text-decoration: none;
	/*letter-spacing: 1px;*/
	/*text-transform: uppercase;*/
}

nav a:hover{
	color: #73c1af;
}

.logo{
	float: left;
	width: 123px;
	height: 75px;
	margin-top: -18px;
	margin-left: 4px;
}

.logo-mobile{
	float: left;
	width: 100px;
	height: 22px;
	margin-top: -12px;
	visibility: hidden;
	display: none;
}


/* ========================== Main ========================== */

/*.main{
	width: 960px;
	margin: 0px auto;
	overflow: visible;
	position: relative;/*
}

/* ===== Container BG img is covering the header. When time comes, change margin top to 90px========*/
.container{
	width: 100%;
	height: 100%;
	background: url(../images/ski_88.jpg) 
	top center no-repeat;
	position: fixed;
	z-index: 111;
}

.home-container{
	width: 100%;
	height: 400px;
	background: url(../images/ski_88.jpg) 
	top center no-repeat;
	margin-top: -71px;
	z-index: 111;
}


.landing-logo{
	width: 210px;
	height: 320px;
	background: url(../images/ag-landing.png)
	top center no-repeat;
	float: left;
}


/* ========================== Coming Soon Elmnts ========================== */


#mc_embed_signup{
	text-align: center;
	width: 560px;
	margin: 150px auto 30px auto;
	font-family: "HN-Med", sans-serif;
	color: #000;
}


#mc_embed_signup h3{
	margin: 30px 0px 20px 35px;   
	text-align: left;
	display: inline-block;
	font-family: "Amatic SC", "Marker", "Governor", sans-serif;
	float: left;
	font-weight: 700;
	letter-spacing: 4px;
	word-spacing: 18px;
	color: #090909;
	font-size: 60px;
	text-transform: uppercase;
}

#mc_embed_signup h4{
	color: #090909;
	margin-left: 35px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	width: 275px;
	font-size: 16px;
	text-align: justify;
	line-height: 1.15em;
	font-family: "courier", "HN-Med", sans-serif;
	text-shadow: 1px 1px 2px #fff;
}


#mce-EMAILS{
	font-size: 24px;
	text-shadow: 1px 1px 2px #fff;
}


#mce-EMAIL{ /*email*/
	margin: 20px 0px 0px 35px;
	float: left;
	text-align: left;
	padding: 10px 10px;
	width: 185px;
	border: none;
	font-family: "courier", "HN-Light", sans-serif;
	font-size: 16px;
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
	-webkit-box-shadow: 0px 3px 0px rgba(80,80,80,.6);
	-moz-box-shadow: 0px 3px 0px rgba(80,80,80,.6);
	box-shadow: 0px 3px 0px rgba(80,80,80,.6);
}

		#mce-EMAIL:focus{
			padding: 9px 10px;
			margin-top: 22px;
		
}

.button{
	float: left;
	margin-left: 0px;
	margin-top: 20px;
	padding: 10px 10px 9px 10px;
	font-size: 17px;
	font-weight: bold;
	background-color: #73c1af;
	color: white;
	text-transform: uppercase;
	font-family: "Marker", "HN-Bold";
	border: none;
	-webkit-text-shadow: 0px 1px 1px #333;
	-moz-text-shadow: 0px 1px 1px #333;
	text-shadow: 0px 1px 1px #333;*/
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
	-webkit-box-shadow: 0px 3px 0px rgba(80,80,80,.6);
	-moz-box-shadow: 0px 3px 0px rgba(80,80,80,.6);
	box-shadow: 0px 3px 0px rgba(80,80,80,.6);
}

		.button:hover{
		background-color: #abebd8;
		cursor: hand;
}


/* ========================== Blog Landing ========================== */

.blog-container a{
	text-decoration: none;
}

.tag-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #999;
	padding-right: 7px; 
	padding-top: 15px;
	float: left;
	display: inline-block;
}

.cal-icon{
	font-family: "Symbols";
	font-size: 12px;
	color: #999;
	padding-right: 8px; 
	padding-top: 15px;
	float: right;
	display: inline-block;
}

.date-stamp{
	font-family: "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	float: right;
	padding-top: 15px;
	color: #999;
}

.tag-stamp{
	font-family: "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	float: left;
	padding-top: 15px;
	color: #999;
}

.blog-container{
	width: 962px;
	position: relative;
	margin: 91px auto 0px auto;
}

.heading{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 15px;
	font-family: "HN-Light", sans-serif;
	color: #666;
}

.blog-container h3{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 60px;
	font-family: "HN-Light", sans-serif;
	color: #999;	
}

.post-wrapper{
	position: relative;
	width: 288px;
	height: 230px;
	float: left;
	margin: 16px 16px 44px 16px;
}


.post-cover{
	width: 288px;
	height: 160px;
	/*background: url(../images/place.jpg)*/
	top center no-repeat;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 3px 3px 0px 0px;
}
	.post-cover img{
		width: 288px;
		height: 160px;
	}


.post-label{
	padding: 15px;
	margin-bottom: 35px;
	background-color: #fff;
	color: #73c1af;
	font-size: 14px;
	line-height: 1.25em;
	font-family: "HN-Bold", sans-serif;
	width: 256px;
	position: absolute;
	top: 160px;
	left: 1px;
	box-shadow: 0px 0px 4px #aaa;
}


.pagination{
	text-align: center;
	margin: 30px auto 0px auto;
}

	.pagination li{
		display: inline-block;
		color: #666;
		border: 1px solid rgba(111,111,111,.45);
		border-radius: 1px;
		font-family: "HN-Light", sans-serif;
		padding: 5px 6px 3px 6px;
		font-size: 12px;
	}

	li.active{
		color: #73c1af;
	}

	
/* ========================== Blog Posts ========================== */

.post-feature{
	max-width: 980px;
	height: 0px;
	padding: 0px 15px;
	margin: 30px auto;
	display: block;
	background-color: rgba(255,255,255,.95);
	overflow: visible;
	position: relative;
}

.body-image{
	/*margin: 20px 0px;*/
	width: 930px;
	background-color: rgba(255,255,255,.95);
	/*background: url(../images/post1-big.jpg)*/
	top center no-repeat;
}
	.body-image img{
		width: 930px;
	}


.post-feat{
	margin-top: 78px; /* from 110px */
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 50%;
	background-color: rgba(255,255,255,.95);

}
		.post-feat img{
			position: absolute;
			top: center no-repeat;
			height: 100%;
			width: 100%; /* from 890px*/
		}

.post-label-big{
	padding: 20px 0px;
	color: #73c1af;
	border-radius: 0px;
	font-size: 14px;
	font-family: "HN-Bold", sans-serif;
	max-width: 930px;
	float: left;
	background-color: rgba(255,255,255,.9);
	margin-top: -150px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.4em;
}

.post-label-big p{
	margin: 15px 0px 15px 0px;
	font-family: "HN-Light", sans-serif;
	color: #666;
	line-height: 1.5em;
}

.post-label-big h5{
	color: #73c1af;
	display: inline-block;
	width: 700px;
	float: left;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.25em;
	letter-spacing: -1px;
	margin: 0px 100px 20px 0px;
}

.cal-icon-big{
	font-family: "Symbols";
	font-size: 14px;
	line-height: 20px;
	color: #999;
	padding-right: 15px; 
	display: inline-block;
	float: right;
}

.date-stamp-big{
	font-family: "HN-Light", sans-serif;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	float: right;
	color: #999;
}

.post-list-title{
	color: #555;
	list-style: disc;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 35px;
}

.post-list-heading{
	color: #555;
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.post-list-directions{
	color: #555;
	font-size: 14px;
	font-family: "HN-Light";
	margin-left: 20px;
	list-style: lower-roman;
}

.order-test-list{
	margin-bottom: 40px;
}

/* ========================== Recipies ========================== */

.recipie-heading{
	color: #666;
	font-size: 18px;
	margin-bottom: 20px;
	font-family: "HN-Bold", sans-serif;
}

.cook-heading{
	color: #666;
	font-size: 18px;
	margin-bottom: 15px;
}
	.last-item{
		margin-bottom: 25px;
	}

	.cook-info li{
		font-family: "HN-Bold";
	}

.ingredients{
	float: left;
	display: block;
	width: 250px;
	margin: 15px 65px 15px 0px;
}
	.ingredients li{
		color: #999;
		font-size: 14px;
		font-family: "HN-Light", sans-serif;
		padding: 4px 0px;
		line-height: 1.15em;
	}

	.ingredients i{
		font-family: "Symbols";
		margin-right: 5px;
	}

.directions-cont{
	float: left;
	width: 600px;
	margin: 15px 0px 15px 15px;
}

	.directions-cont li{
		color: #999;
		list-style: decimal;
	}

/* ========================== Products ========================== */

.page-hero{
	margin-top: 78px; /* from 110px */
	width: 100%; /* from 930px */
	height: 0px;
	display: block;
	position: relative;
	padding-bottom: 22%;
	background-color: none;

}
		.page-hero img{
			position: absolute;
			top: center no-repeat;
			max-height: 450px;
			width: 100%; /* from 890px*/
		}


.product-wrapper{
	position: relative;
	width: 288px;
	height: 484px;
	float: left;
	margin: 16px 16px 44px 16px;
}

	.product-wrapper a{
		color: #73c1af;
		text-decoration: none;
	}

.product-cover{
	width: 288px;
	top center no-repeat;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 3px 3px 0px 0px;
}
	.product-cover img{
		width: 288px;
		height: 424px;
	}


.product-label{
	padding: 15px;
	margin-bottom: 35px;
	background-color: #fff;
	color: #73c1af;
	font-size: 14px;
	line-height: 1.25em;
	text-align: center;
	font-family: "HN-Bold", sans-serif;
	width: 256px;
	position: absolute;
	top: 424px;
	left: 1px;
	/*box-shadow: 0px 0px 2px #aaa; */
}


.price-stamp{
	font-family: "HN-Med", sans-serif;
	font-size: 16px;
	font-style: italic;
	display: inline-block;
	text-align: center;
	margin-top: 7px;
	margin-right: 5px;
	color: #999;
}

.buy-stamp{
	font-family: "HN-Med", sans-serif;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #73c1af;
	margin-top: 5px;
	padding: 3px 8px 0px 8px;
	color: #fff;
}



/* ========================== Footer ========================== */


.footer-cont{
	width: 100%;
	height: 0px;
	background-color: rgba(255,255,255,1);
	/*border-bottom: 5px solid #73c1af;*/
	border-top: 1px solid rgba(198,198,198,.6);
	margin-top: 80px;
	float: left;

}


.footer{
	height: 40px;
	width: 960px;
	margin: 0px auto;
	padding: 23px 20px;
	margin-top: 20px;
}

.copyright{
	text-decoration: none;
	font-family: "HN-Light", sans-serif;
	font-size: 12px;
	color: #999;
	float: left;
	line-height: 20px;
	padding: 0px 15px;
}

footer nav.account-links-foot{
	float: left;
	margin-right: 15px;
}

.nav-icon-foot{
	font-size: 12px;
	font-family: "Symbols";
	color: #999;
	line-height: 12px;
	padding: 0px 2px;
}

footer nav a.left{
	padding: 0 15px;
	font-size: 12px;
	color: #999;
	font-family: "HN-Med", helvetica, sans-serif;
	text-decoration: none;
}

footer nav.social-links-foot{
	float: right;
	font-size: 12px;
	text-decoration: none;
	padding-right: 15px;
}

.social-links-foot a{
	padding: 0 4px;
	font-size: 14px;
	color: #999;
	font-family: "Symbols";
	text-decoration: none;
}

/* ========================== Contact ========================== */


.contact{
	width: 960px;
	margin: 140px auto 50px auto;
}


.half-container{
	width: 450px;
	min-height: 60px;
	padding: 0px 15px;
	float: left;
}

#contact-margin{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 15px;
	font-family: "HN-Light", sans-serif;
	color: #666;
}

 #sub-heading{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 70px;
	font-family: "HN-Light", sans-serif;
	color: #999;	
}

#contact h4{
	font-size: 22px;
	text-align: left;
	margin-bottom: 20px;
	margin-left: 15px;
	font-family: "HN-Med", sans-serif;
	color: #666;	
}

#contact p{
	font-size: 14px;
	width: 90%;
	text-align: left;
	margin-bottom: 20px;
	line-height: 1.5em;
	font-family: "HN-Light", sans-serif;
	color: #999;
}

#contact i{
	font-family: "Symbols";
	font-size: 14px;
	color: #666;
	padding-right: 15px;
}

#contact li{
	font-family: "HN-Light";
	font-size: 14px;
	color: #999;
	line-height: 1.25em;
}


.address{
	margin-left: 29px;
	font-family: "HN-Light", sans-serif;
	line-height: 1.1em;
}


#address-1{
	margin-top: 15px;
}


#contact input{
	margin: 0px 0px 20px 0px;
	display: block;
	text-align: left;
	padding: 10px 10px;
	border: 1px solid rgba(198,198,198,1);
	font-size: 14px;
	box-shadow: none;
	border-radius: 2px;
	width: 450px;
}

#contact textarea{
	margin-bottom: 20px;
	padding: 10px 10px;
	border: 1px solid rgba(198,198,198,1);
	width: 450px;
	border-radius: 2`px;
	min-height: 80px;
}

form label{
	text-align: left;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: "HN-Med", sans-serif;
	color: #666;
}

#entry_161419473{
	display: inline-block;
	float: left;
	width: 150px;
}

.inline-link{
	text-decoration: underline;
	color: #73c1af;
}

#ss-submit{
	width: 290px;
	display: inline-block;
	float: right;
	background: #73c1af url('../images/paper-plane.png') no-repeat center center;
	margin-left: 5px;
	cursor: hand;
	color: white;
	border: none;
	text-align: center;
	padding: 11px 10px;

}

#ss-submit:hover{
	background-color: #abebd8;
	/*border: 1px solid #abebd8; */
}

#human-label{
	display: block;
	width: 450px;
}

/* =================== Terms ======================== */

.terms-container{
	position: relative;
	width: 100%;
	margin: 15px auto;
	color: #666;
	line-height: 1.25em;
	padding: 0px 10px;
}

.terms-container p, .terms-container li{
	font-family: "HN-Light", sans-serif;
	margin-bottom: 10px;
	font-size: 14px;
}

.terms-container ol li{
	list-style: decimal;
	list-style-position: outside;
	
}

.terms-container ul li{
	list-style: disc;
	list-style-position: inside;
}


#last-list-item{
	margin-bottom: 30px;
}

/* =================== @ Media Tablet ======================== */


@media screen and (max-width: 1000px) {
  .blog-container{
    width: 660px;
}

	.blog-container h3{
		line-height: 1.25em;
	}

.footer{
	width: 660px;
	padding-right: 20px;
}

/* .nav-icon-foot{
	display: none;
} */

footer nav.account-links-foot{
	margin-right: 0px;
}

footer nav a.left{
	padding: 0px 10px;
}

footer nav.social-links-foot{
	padding-right: 32px;
}

.social-links-foot a{
	float: left;
}
	
.header{
	width: 660px;
}

.contact{
	width: 660px;
}

.half-container{
	width: 300px;
}

#contact input, #contact textarea{
	width: 300px;
}

#ss-submit{
	width: 145px;
}


#entry_161419473{
	float: left;
	width: 145px;
}

/* ==== Blog Detail ======*/


.post-feat{
	height: 0px;
	float: none;
	background-color: none;
	overflow: visible;
	position: relative;
}

	.post-feat img{
		position: absolute;
		top: center no-repeat;
	}

.page-hero{
	overflow: visible;
	position: relative;
	padding-bottom: 25%;
	background-color: none;

}
		.page-hero img{
			position: absolute;
			top: center no-repeat;
			max-height: 400px;
			width: 100%; /* from 890px*/
		}

.body-image{
	height: 0px;
	width: 100%;
	position: relative;
	padding-bottom: 52%;
}
	.body-image img{
		position: absolute;
		top: center no-repeat;
		max-width: 100%;
	}

.post-cover-feat{
	display: none;
}

.post-feature{
	max-width: 680px;
	padding-top: 20px;
	margin: none;
	height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0px auto;
}

.post-label-big{
	position: static;
	max-width: 680px;
	background-color: #fff;
	margin-top: 0px;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	/*padding-top: 380px;*/
	line-height: 1.4em;
	display: block;
}

		.post-label-big h5{
			width: 400px;
			font-size: 24;
		}	

/* ======= Recipies ======= */


.directions-cont{
	margin-left: 0px;
}


	.directions-cont li{
		list-style-position: inside;
	}


/* ===================== @ Media Mobile ====================== */


@media screen and (max-width: 700px) {
  .blog-container{
    width: 308px;
    padding: 0px 0px;
    margin: 0px auto 0px auto;
}


ul{
	font-size: 12px;
}

.blog-container h2 h3 {
		line-height: 1.25em;
		margin: 0px auto;
		width: 288px;
		padding: 0px;
	}

.blog-container h3{
	margin-bottom: 15px
}

.heading{
	margin-top: 80px;
	font-size: 24px;
}

.post-wrapper, .product-wrapper{
	float: both;
	width: 288px;
	margin-bottom: 44px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto; 
}

.footer{
	width: 288px;
	padding: 0px 10px;
	text-align: center;
}

 .nav-icon-foot{
	display: none;
} 

footer nav.account-links-foot{
	float: none;
	margin: none;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}


footer nav a.left{
	padding: 0px 10px;
	text-align: center;
}

	
.header{
	width: 308px;
	height: 0px;
	padding: 10px 10px;
	margin: 0 auto;

}

.header-cont{
	position: fixed;
	padding: none;
	margin: 0px auto;
	background-color: #73c1af;
}

.nav-icon{
	display: none;
}


.account-links{
	text-align: center;
	line-height: 1.25em;
	float: left;
	
}

header nav a{
	padding: 0 4px;
	font-size: 12px;
	color: #fff;
}

header nav a:hover{
	color: #fff;
	text-decoration: underline;
}

.footer-cont{
	margin-top: 30px;
	padding-bottom: 25px;
}

.copyright{
	text-align: center;
	float: none;
	margin: 10px auto;
}

.footer{
	margin-top: none;
	text-align: center;
	float: none;
	height: 0px;
	padding-bottom: 35px;
	padding-top: 5px;
}

footer nav.social-links-foot{
	padding: none;
	margin: none;
	float: none;
	padding-top: 10px;
	text-align: center;
	margin: 0px auto;
}

.social-links-foot a{
	float: none;
	margin-right: none;
	margin-left: none;
	padding-left: none;
	padding-right: none;
	margin-left: auto;
	margin-right: auto;
}

footer nav.social-links-foot{
	padding-right: none;
	padding-left: 32px;
	padding-bottom: 15px;
}

.logo-mobile{
	visibility: visible;
	display: block;
	margin-right: 8px;
	padding: 10px 10px;
	float: left;
}

.logo{
	display: none;
}

#mobile-hide{
	display: none;
}


#contact{
	margin: 0px auto;
}

.half-container{
	width: 288;
	height: none;
	margin-right: none;
	border: none; 
	float: none;
	margin: 0px auto;
	padding-right: none;
	padding-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact-form{
	width: none;
	height: none;
	margin-right: none;
	margin-left: none;
	border: none; 
	float: none;
	margin: 0px auto;
	padding-right: none;
	padding-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul li{
	width: none;
	margin: none;
	float: none;
	padding: none;
	margin: 0px auto;
	display: block;
}


#contact input, #contact textarea{
	width: 283px;
	float: left;
	padding: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

label{
	display: inline-block;
	width: 283px;
}

#contact h2 h3 h4{
	margin: none;
	margin: 0px auto;
	padding: none;
	text-align: center;
	width: 288px;

}

#contact-margin{
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 22px;
}

#contact p{
	width: 288px;
	padding: none;
	margin: none;
}

#ss-submit{
	width: 139px;
	float: left;

}


#entry_161419473{
	float: left;
	width: 139px;
	padding-right: none;
}

#human-label{
	width: 258px;
}

/* ==== Blog Detail ======*/


.post-feat{
	margin-top: 40px;
	height: 0px;
	float: none;
	background-color: none;
	overflow: visible;
	position: relative;
}

	.post-feat img{
		position: absolute;
		top: center no-repeat;
	}


.page-hero{
	margin-top: 40px;
	overflow: visible;
	position: relative;
	padding-bottom: 40%;
	width: 100%;
	height: 0px;
	display: block;
	margin-right: 0px;
	padding-right: 0px;
	background-color: none;

}
		.page-hero img{
			position: absolute;
			top: center no-repeat;
			max-height: 285px;
			margin-right: 0px;
			padding-right: 0px;
			width: 100%; /* from 890px*/
		}

.post-cover-feat{
	display: none;
}

.post-feature{
	max-width: 480px;
	min-width: 278px;
	padding-top: 15px;
	margin: none;
	height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0px auto;
}

.post-label-big{
	position: static;
	max-width: 480px;
	min-width: 278px;
	background-color: #fff;
	margin-top: 0px;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*padding-top: 380px;*/
	line-height: 1.4em;
	display: block;
}

		.post-label-big h5{
			max-width: 179px;
			min-width: 80px;
			font-size: 13px;
			margin-right: 3px;
		}	

		.post-label-big p{
			margin: none;
			font-size: 13px;
			letter-spacing: 0px;
		}

.cal-icon-big{
	font-size: 10px;
	line-height: 10px;
	padding-right: 7px;
	margin-left: 0px; 
}

.date-stamp-big{
	font-size: 10px;
	line-height: 10px;
	margin-left: 0px;
}

/* ========================== Recipies ========================== */

.recipie-heading{
	font-size: 13px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 288px;
}

.cook-heading{
	font-size: 13px;
	margin-bottom: 5px;
	width: 288px;
}
	.last-item{
		margin-bottom: 15px;
	}

	.cook-info ul {
		font-family: "HN-Bold";
		width: 288px;
		margin: none;
	}

	.cook-info li{
		display: inline;
		font-family: "HN-Bold";
		width: 288px;
		width: 0px;
		margin: none;
		padding: 2px;
	}

.ingredients{
	float: left;
	display: block;
	max-width: 288px;
	min-width: 100px;
	margin: 10px 0px 10px 0px;
}
	.ingredients li{
		color: #999;
		font-size: 12px;
		font-family: "HN-Light", sans-serif;
		padding: 4px 1px;
		line-height: 1.15em;
		margin: none;
	}

	.ingredients i{
		font-family: "Symbols";
		margin-right: 5px;
	}

.directions-cont{
	float: left;
	width: 0px;
	margin: none;
	width: 0px;
	max-width: 480px;
	min-width: 288px
}

	.directions-cont li{
		max-width: 278px;
		min-width: 278px;
		list-style-position: inside;
	}


.post-list-title{
	font-size: 14px;
}

.post-list-heading, .post-list-directions{
	font-size: 12px;
}


/* =================== Terms ======================== */


.terms-container{
	padding: 0px 10px;
}




@viewport {
  width: device-width;
  zoom: 1;
}
