.title{
	font-size: 30px;
}

.background{
	background-image: url("../img/clear-skies.jpg");
	background-repeat: no-repeat;
	width: 300px;
	height: 580px;
	margin: 100px auto;
	position: center;
}

.close{
	position: inherit;
	top:-5px;
	right:-5px;
}