#top-logo{
	height: 40px;
	width: 950px;
	position: top;
	margin: auto, 0;
	padding-top: 17px;
	text-align: center;
	border: 5px solid black;
	background: salmon;

}

.main-body{
	width: 960px;
	margin: 0px auto 0px auto;
}

#nav{
	height: 30px;
	width: 950px;
	position: center;
	margin: auto, 0;
	padding-top: 17px;
	text-align: center;
	border: 5px solid green;
	background: yellow;
}

li{
	float: left;
	padding: 0 55px;
}

#middle-hero{
	height: 500px;
	width: 314px;
	float: left;
	margin: 0 3px;
	border: 2px dotted black;
	background: yellow;
}

.modal{
	height: 500px;
	width: 314px;
	float: left;
	border: 2px dotted black;
	background: yellow;
}
.modal-col{
	height: 500px;
	width: 314px;
	float: left;
	border: 2px dotted black;
	background: yellow;
}

.clear{
	clear:both;
}

#footer{
	border: 2px dotted red;
	width: 956px;
	margin:0 auto;
}







