li{
	margin: 0px;
}

/* header */


body{
	background-color: #ededed;
}

.container{
	background: white top center;
	width: 1160px;
	height: 1800px;
	margin: 0px auto;
	position: relative;
}

.clear{
	clear: both;
}


header{
	padding-top: 25px;
	display: block;
	position: relative;
	text-align: center;
	margin: 0px auto 20px auto;
	background: radial-gradient(#efefef, #fff);
}


nav ul{
	display: inline-block;
	margin-top: 15px;
	padding: 11px 0px;
	margin-bottom: 70px;
	border-radius: 6px;
	color: white;
	background: linear-gradient(#666 50%, #000 50%);
	text-shadow: 1px 1px 1px #000;
	font-family: "cambria", "lucinda", sans-serif;
	list-style: none;
}

nav li{
	display: inline;
	padding: 10px 36px;
	border-right: 1px inset #333;
	list-style: none;
	text-decoration: none;
	overflow: hidden;
	margin-left: 0px;
}

nav li:hover{
	background-color: #000;
}


.last{
	border: none;
}

/* ========================= Main ======================= */

h1.heading{
	color: #000;
	text-align: left;
	margin-left: 128px;
	font-family: "cambria", sans-serif;
	font-weight: bold;
	font-size: 32px;
	border-bottom: 1px solid #dedede;
	display: block;
	width: 900px;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

h2.heading{
	color: #000;
	text-align: left;
	font-family: "cambria", sans-serif;
	font-weight: bold;
	font-size: 32px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	padding-top: 250px;
	padding-left: 25px;	
}

h2.heading-last{
	color: #000;
	text-align: left;
	font-family: "cambria", sans-serif;
	font-weight: bold;
	font-size: 32px;
	display: inline-block;
	float: left;
	margin-top: -30px;
	margin-right: 10px;
	padding-top: 280px;
	padding-left: 25px;	
}



th h3{
	color: #000;
	text-align: left;
	font-family: "arial", sans-serif;
	font-weight: bold;
	font-size: 32px;
	display: inline-block;
	float: left;
	padding-top: 250px
}


th h4{
	color: #000;
	text-align: left;
	font-family: "arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding-left: 25px;	
}


th{
	height: 350px;
	width: 260px;
	vertical-align: top;
	background: url(../img/compare_hero_ipad_2.jpg) top no-repeat;
	position: relative;
}


th.first{
	width: 140px;
	vertical-align: top;
	background: none;
}

th.second{
	height: 350px;
	width: 260px;
	vertical-align: top;
	background: url(../img/compare_hero_ipad_mini.jpg) top no-repeat;
	position: relative;
}


.ipad{
	height: 350px;
	position: relative;
}

td{
	border-top: 1px solid #666;
}

td h3{
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 10px;
	margin-left: 25px;
}

td ul{
	float: left;
	height: 115px;
	padding-right: 15px;
}

.name{
	padding: 10px 80px 0px 0px;
	margin-left: 120px;
	width: 80px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.name h4{
	width: 70px;
}

.capacity{
	color: #777;
	font-size: 14px;
	line-height: 20px;
	margin-left: 25px;
}

.capacity li, .price li{
	padding-bottom: 5px;
}

.price{
	color: #222;
	font-size: 20px;
	font-family: sans-serif;
}


.buy-btn{
	padding: 5px 10px;
	background: linear-gradient(#999 60%, #333);
	border-radius: 6px;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: white;
	margin-left: 25px;
	margin-bottom: 50px;
}


.price-list{
	padding-top: 28px;
}

.details{
	margin-left: 25px;
	width: 160px;
	display: inline-block;
}

.details li{
	display: inline;
	line-height: 1.5em;
}


.att-name{
	color: #999;
	font-size: 12px;
	font-family: sans-serif;
}






























